
<div class ="page-header">
<h3>Welcome to Movie Lookup Data Base</h3>

</div>

<div>
<p> <a href="/signout">signout</a></p>
<h1> Welcome to your Movie Databse lookup </h1>
<form action="/dashboard:search" method = "get">
Actor Search: <input type="text" name="search"><br>
<input type="submit">
</form>
</div>

<form action="/dashboard:search" method = "get">
Movie Search: <input type="text" name="Msearch"><br>
<input type="submit">
</form>

<form action="/dashboard:search" method = "get">
Role Search: <input type="text" name="Rsearch"><br>
<input type="submit">
</form>