
<div class ="page-header">
<h3>Welcome to Movie Lookup Data Base</h3>

</div>

<div>
<h1> Welcome to your Movie Databse lookup </h1>
<form action="/dashboard:search" method = "get">
Search: <input type="text" name="search"><br>
<input type="submit">
</form>
</div>