
<div class ="page-header">


</div>

<div>
<h1  style="text-align: center;"> Internet Movie Search</h1>
<form action="/dashboard:search" method = "get">
Actor Search: <input type="text" name="search"><br>
<input type="submit">
</form>
</div>

<form action="/dashboard:search" method = "get">
Movie Search: <input type="text" name="Msearch"><br>
<input type="submit">
</form>
<!--
<form action="/dashboard:search" method = "get">
Role Search: <input type="text" name="Rsearch"><br>
<input type="submit">
</form>
-->