
<div class ="page-header">
<h3>Welcome to my Express Tutorial</h3>

</div>

<div>
<h1> This is the forum</h1>
<form method = "post">
username: <input type="text" name="username"><br>
password: <input type="text" name="password"> <br>
<input type="submit" value="Submit">
</form>
</div>