
<!DOCTYPE  html>

<html lang="en">

<head>
  {{>head}}
  <title>Express Tutorial</title>
   {{>bsnavbar}}
</head>
<body>


 <div class="container">
 {{{body}}}

 
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </div>

  
  </body>
  </html>