
<div class ="page-header">
{{#each data}}
{{#if @first}}
<h3>{{this.medianame}}</h3>
{{/if}}
{{/each}}

</div>

 <br>
 <span>
 <h2> Cast </h2>
 
 
 
 </span>
 
{{#each data}}

{{this.firstname}} {{this.lastname}} * {{this.rolename}}  <br>
<br>
{{/each}}
<div>

</div>