
<div class ="page-header">
<h3>Welcome to Movie Lookup Data Base</h3>

</div>
{{data.media_name}} <br>
{{#each data}}
{{this.actor_name}}  &nbsp;{{this.role_name}}  &nbsp;{{this.media_name}}<br>
{{/each}}
<div>

</div>