
<div class ="page-header">
<h3>Welcome to my Express Tutorial</h3>

</div>

<div>
<h1> This is the forum</h1>
<form action="/signup" method = "post">
username: <input type="text" name="username"><br>
password: <input type="text" name="password"> <br>
password: <input type="text" name="password2"><br>
email: <input type="text" name="email"><br>
email: <input type="text" name="email2"><br>
<input type="submit">
</form>
</div>