
<div class ="page-header">
<h3>Sign in</h3>

</div>

<div>
<h1> This is the forum</h1>
<form action="/signin" method = "post">
username: <input type="text" name="userName"><br>
password: <input type="password" name="password"> <br>
<input type="submit">
</form>

<p>No Internet Movie account? <a href="/signup">Creat an account</a></p>
</div>